In [6]:
import sqlite3
con = sqlite3.connect('Moviesdb1.db')

In [7]:
cur = con.cursor()

# Create table
cur.execute('''CREATE TABLE MOVIE
               (MName text, LActor text, LActress text, DName text, YOR text)''')

In [8]:
# Insert a row of data
cur.execute("INSERT INTO MOVIE VALUES ('ABCD DANCE','Sidharta','Babita', 'Sk Rami', '2022')")
cur.execute("INSERT INTO MOVIE VALUES('ABCD DANCE2','Ayan', 'Suparna', 'Rk Rami', '2023')")
cur.execute("INSERT INTO MOVIE VALUES('ABCD DANCE3','Sourav', 'Mohini', 'Sk Rami', '2024')")
cur.execute("INSERT INTO MOVIE VALUES('ABCD DANCE4','Rajesh', 'Sohini', 'Rk Rami', '2025')")
cur.execute("INSERT INTO MOVIE VALUES('ABCD DANCE5','Saikat', 'Renuka', 'Sk Rami', '2026')")

# Save (commit) the changes
con.commit()

In [19]:
#cur.execute("SELECT * FROM MOVIE")

In [20]:
#print(cur.fetchall())

In [9]:
for row in cur.execute('SELECT * FROM MOVIE'):
        print(row)

('ABCD DANCE', 'Sidharta', 'Babita', 'Sk Rami', '2022')
('ABCD DANCE2', 'Ayan', 'Suparna', 'Rk Rami', '2023')
('ABCD DANCE3', 'Sourav', 'Mohini', 'Sk Rami', '2024')
('ABCD DANCE4', 'Rajesh', 'Sohini', 'Rk Rami', '2025')
('ABCD DANCE5', 'Saikat', 'Renuka', 'Sk Rami', '2026')

In [10]:
cur.execute("SELECT * FROM MOVIE WHERE LActor = 'Sidharta'")
print(cur.fetchall())

[('ABCD DANCE', 'Sidharta', 'Babita', 'Sk Rami', '2022')]